.ClientTable_clientTableContainer__1e9un {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto; /* Enable scroll for the table body */
  }
  
  .ClientTable_clientTable__194v7 {
    width: 100%;
  }
  
  .ClientTable_clientTable__194v7 th,
  .ClientTable_clientTable__194v7 td {
    text-align: center;
    vertical-align: middle;
  }
  
  .ClientTable_clientTable__194v7 .ClientTable_buttonGroup__pSZ7y {
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
         justify-content: center;
    grid-gap: 10px;
    gap: 10px;
  }
  
  .ClientTable_clientTable__194v7 .ClientTable_flexButton__LoNiS {
    -moz-box-flex: 1;
         flex-grow: 1;
    min-width: 0;
    font-size: -moz-calc(12px + 0.5vw);
    font-size: calc(12px + 0.5vw);
    text-truncate: ellipsis;
  }
  
.PartTable_tableContainer__18TCg {
    position: relative;
    height: 600px;
  }
  
  .PartTable_scrollableTable__2TybW {
    max-height: 540px; /* Adjusted to leave space for the search bar and buttons */
    overflow-y: auto; /* Enable scroll for the table body */
    position: relative;
  }
  
  .PartTable_stickyHeader__1HJK1 {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
  }
  
  .PartTable_searchContainer__2r7ak {
    padding-top: 10px;
    background: white;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  
  .PartTable_divider__1QxCq {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .PartTable_buttonGroup__3ZfOO {
    display: -moz-box;
    display: flex;
    width: 100%;
  }
  
  .PartTable_flexButton__2po2e {
    -moz-box-flex: 1;
         flex-grow: 1;
    text-truncate: true;
    min-width: 0;
    font-size: -moz-calc(12px + 0.5vw);
    font-size: calc(12px + 0.5vw);
  }
  
/* MainSearch.module.css */
/* Add these to your CSS file or inline in the component */
.MainSearch_loading-overlay__12605 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7); /* Light background with transparency */
  display: -moz-box;
  display: flex;
  -moz-box-pack: center;
       justify-content: center;
  -moz-box-align: center;
       align-items: center;
  z-index: 9999; /* Make sure it's above other elements */
  backdrop-filter: blur(8px); /* Blurs the background */
}

.MainSearch_spinner-center__3evuC {
  font-size: 3rem;
  color: #007bff; /* Spinner color */
}
.MainSearch_divider__3rSSU {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .MainSearch_tableContainer__LD18P {
    position: relative;
    height: 600px;
  }
  
  .MainSearch_scrollableTable__EtDed {
    max-height: 540px; /* Adjusted to leave space for the search bar and buttons */
    overflow-y: auto; /* Enable scroll for the table body */
  }
  
  .MainSearch_stickyHeader__3UmgI {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
  }
  
  .MainSearch_searchContainer__1xJnu {
    padding-top: 10px;
    background: white;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  
  .MainSearch_buttonGroup__1GWI6 {
    display: -moz-box;
    display: flex;
    width: 100%;
  }
  
  .MainSearch_flexButton__3znqD {
    -moz-box-flex: 1;
         flex-grow: 1;
    min-width: 0;
    font-size: -moz-calc(12px + 0.5vw);
    font-size: calc(12px + 0.5vw);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
