.ClientTable_clientTableContainer__1e9un {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto; /* Enable scroll for the table body */
  }
  
  .ClientTable_clientTable__194v7 {
    width: 100%;
  }
  
  .ClientTable_clientTable__194v7 th,
  .ClientTable_clientTable__194v7 td {
    text-align: center;
    vertical-align: middle;
  }
  
  .ClientTable_clientTable__194v7 .ClientTable_buttonGroup__pSZ7y {
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
         justify-content: center;
    grid-gap: 10px;
    gap: 10px;
  }
  
  .ClientTable_clientTable__194v7 .ClientTable_flexButton__LoNiS {
    -moz-box-flex: 1;
         flex-grow: 1;
    min-width: 0;
    font-size: -moz-calc(12px + 0.5vw);
    font-size: calc(12px + 0.5vw);
    text-truncate: ellipsis;
  }
  
